# Auto detect text files and perform LF normalization
* text=auto

# Ensure gradlew has LF line endings for Linux execution
gradlew text eol=lf
*.sh text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
